@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* COLOURS */
  /* green */
  --lime-50: #f7fee7;
  --lime-300: #BEF264;
  --lime-400: #A3E635;
  --lime-500: #84CC16;
  --lime-600: #65A30D;
  --lime-700: #4D7C0F;
  --lime-800: #3F6212;
  --lime-900: #365314;
  --lime-950: #1A2E05;

  /* neutral */
  --olive-50: #FBFBF9;
  --olive-100: #F4F4F0;
  --olive-400: #ABAB9C;
  --olive-900: #1D1D16;
  --olive-950: #0C0C09;

  /* blue */
  --teal-200: #99F6E4;
  --teal-400: #2DD4BF;
  --teal-600: #0D9488;

  /* red */
  --danger-base: #EF4444;
  --danger-dark: #DC2626;

  /* FONT */
  --font-family-default: "Poppins", sans-serif;
}

* {
  font-family: var(--font-family-default);
  color: var(--olive-950);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

.heading-lg {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.heading-md {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.heading-sm {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.action-md {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.action-sm {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.label-input {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.body-md {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.body-sm {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.body-xs {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.text-lime-950 {
  color: var(--lime-950);
}

.text-teal-600 {
  color: var(--teal-600);
}

.text-danger-base {
  color: var(--danger-base);
}
/*Sobre nós*/
.container-sobre {
    display: flex;
    max-width: 1100px;
    width: 100%;
    align-items: center;
    gap: 60px;
}


.coluna-texto {
    flex: 1;
}

.titulo-sobre {
    font-size: 28px;
    color: #4a6d3a; 
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}


.titulo-sobre::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #8fb67c; 
    position: absolute;
    bottom: -5px;
}

.coluna-texto p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
}

.coluna-imagem {
    flex: 1;
    text-align: center;
}

.cabecalho-imagem {
    margin-bottom: 20px;
}

.destaque-verde {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
}

.subtitulo-imagem {
    font-size: 18px;
    color: #555;
    margin-top: 5px;
}

.imagem-composteira {
    max-width: 100%;
    height: auto;
}
