<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <button class="button-primary-light">
    Login
  </button>
  <button class="button-primary-dark">
    Entrar
  </button>
  <button class="button-second">
    Entrar
  </button>
  <a class="link">
    Cadastre-se aqui
  </a>
  <button class="button-ghost">
    Entrar
  </button>
  <button class="button-destructive">
    Apagar
  </button>
</body>
</html>