<link rel="stylesheet" href="../../style.css">
<link rel="stylesheet" href="../buttons/style.css">
<link rel="stylesheet" href="style.css">
<meta charset="UTF-8">
<header>
  <div class="container">
    <img src="../../public/images/logo.svg" alt="Logo da CompostEco">
    <nav>
      <ul>
        <a class="body-md" href="#hero-section">Início</a>
        <a class="body-md" href="#about-section">Sobre Nós</a>
        <a class="body-md" href="#services-section">Nossos Serviços</a>
      </ul>
    </nav>
    <button class="button-primary-light">
      Login
    </button>
  </div>
</header>