<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../../style.css">
  <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
  <meta charset="UTF-8">
</head>
<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h1 class="heading-lg">CompostEco</h1>
      <p class="body-sm">Transformando resíduos orgânicos em soluções sustentáveis para um futuro mais verde.</p>
    </div>
    <div class="footer-section"></div>
    <div class="footer-section">
      <div class="">
        <h1 class="heading-lg">Navegação</h1>
        <div class="body-sm list">
          <a>Início</a>
          <a>Sobre nós</a>
          <a>Nossos serviços</a>
          <a>Dashbord</a>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <h1 class="heading-lg">Nossas redes</h1>
      <div class="body-sm list">
        <span><i class="ph ph-instagram-logo"></i><a>Instagram</a></span>
        <span><i class="ph ph-whatsapp-logo"></i><a>Whatsapp</a></span>
        <span><i class="ph ph-facebook-logo"></i><a>Facebook</a></span>
        <span><i class="ph ph-telegram-logo"></i><a>Telegram</a></span>
      </div>
    </div>
  </div>
  <div class="copyright">Copyright © 2026 CompostEco Corp.</div>
</footer>